{% extends 'base.html' %}
{% block title %} User SignUp {% endblock title%}
{% block content %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h2> Hello there! Sign Up to Adarsh Store</h2>
            <form action="" class="shadow p-5">
                <div class="form-group">
                    <label for="name" class="form-control-lg">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-control-lg">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-control-lg">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-control-lg">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>

        </div>
    </div>
</div>       


{% endblock %}